<body class="signbody" id="signupbody">
  <div class="container-fluid " style="overflow-x: auto;">

   <div class="row justify-content-center">
      <div class="col-lg-4 mt-5" id="sign-up-container">
        <div class="container text-center">
          <h1> Sign Up As a Host</h1>
        </div>
        <%= render 'form' %>
      </div>
</div>
</div>
</body>
