<body class="bg-light">
  <div class="container py-5">
    <div class="row justify-content-center">
      <div class="col-lg-8 col-md-10">
        <div class="card shadow h-100">
          <div class="card-header text-center bg-primary text-white">
            <h4 class="card-title mb-0">Registration Confirmation</h4>
          </div>
          <div class="card-body text-center">
            <h3 class="mb-4">Greetings from Shukla Travels</h3>
            <h4 class="mb-3">Hello <%= @user.customer_full_name %></h4>
            <p class="lead mb-4">
              Your default password is 123456.
              Your registration has been confirmed. 
              Now Please go to update profile section to update teh password and add your phone number.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
