<body class="bg-light">
  <div class="container py-5">
    <div class="row justify-content-center">
      <div class="col-lg-8 col-xl-6">
        <div class="card shadow-lg">
          <div class="card-body p-5">
            <h1 class="text-center mb-4"><strong>Sign Up As Host</strong></h1>
            <%= render 'form' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>