<footer id="sticky-footer" class="flex-shrink-0 py-4 bg-dark text-white-50">
    <div class="container text-center">
      <small>This website is designed by Ankit Shukla (Contact: ankitshukla8948328509@gmail.com)</small>
    </div>
</footer>