<body class="signbody" id="signupbody"> 
  <div class="container-fluid mt-2">
    <div class="input-group justify-content-center">
      <div class="col-lg-5">
        <div class="container text-center">
          <h1><strong>Sign Up As Customer</strong></h1>
        </div>
        <%= render 'form' %>
      </div>
    </div>
  </div>
</body>





