<div class="row ">
  <div class="col-lg-6 ms-5 mt-3">
    <div class="card text-center shadow">
      <div class="card-body">
      <h4 class="card-title"> Hello </h4>
        <h4 class="card-header">Our Details</h4>
        <p class="card-text" > Email:- ankitshukla8948328509@gmail.com</p>
        <p class="card-text" > Email:- vindosuklajss@gmail.com</p>
        <p class="card-text" > Phone: +91-7392040229</p>
        <p class="card-text" > Phone: +91-9631007729</p>
        <p class="card-text" > Phone: +91-9818816732</p>
      </div>
      <div class="card-footer text-muted">
       <small>Have a good day</small>
      </div>
    </div>
  </div>        
  <div class="col-lg-4 ms-3 mt-3">
    <div class="card shadow">
      <div class="card-body">
        <h4 class="card-header">Our Details</h4>
        <p class="card-text" > Email:- ankitshukla8948328509@gmail.com</p>
        <p class="card-text" > Email:- vindosuklajss@gmail.com</p>
        <p class="card-text" > Phone: +91-7392040229</p>
        <p class="card-text" > Phone: +91-9631007729</p>
        <p class="card-text" > Phone: +91-9818816732</p>
      </div>
      <div class="card-footer text-muted">
       <small>Have a good day</small>
      </div>
    </div>
  </div>
</div>