<body class="home-page" id="aboutbody">
  <div class="one one-head u-margin-top-big">
    <h1 class="one-head head-font" style="font-size: 56px;">Meet Our Team</h1>
  </div>
  <div class="member">
    <div class="box">
      <div class="card u-margin-bottom-medium" id="teamcard">
        <div class="imgBx">
          <%= image_tag("papa.jpg")%>
        </div>
        <div class="details">
          <h2>Vinod Shukla<br><span>Founder</span></h2>
        </div>
      </div>
      <div class="card u-margin-bottom-medium" id="teamcard">
        <div class="imgBx">
          <%= image_tag("chote-papa.jpg")%>
        </div>
        <div class="details">
          <h2>Amod Shukla<br><span>Founder</span></h2>
          </div>
        </div>       
    </div>
  </div>
  <div class="member">
    <div class="box">
      <div class="card u-margin-bottom-medium" id="teamcard">
        <div class="imgBx">
          <%= image_tag("myself.jpg")%>
        </div>
        <div class="details">
          <h2>Ankit Shukla<br><span>CEO & CTO</span></h2>
        </div>
      </div>       
    </div>
  </div>
</body>




