<body class="bg-light">
  <div class="container py-5">
    <div class="row justify-content-center">
      <div class="col-lg-8 col-md-10">
        <div class="card shadow-lg">
          <div class="card-header bg-primary text-white text-center py-4">
            <h1 class="fw-bold">Update your Vehicle</h1>
          </div>
          <div class="card-body p-4">
            <%= render 'form' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>