<body class="booking" id="vhcnew">
  <% if logged_in_as_host? %>       
    <div class="row justify-content-center" style="margin-right: 0 !important;">  
      <div class="col-lg-4 mt-5">
        <div class="container text-center">
          <h1 class="text-white" style="font-weight: bold;"> Do your Registration</h1>
        </div>
        <%= render 'form' %>
      </div>
    </div>    
  <% else %>
    <%= link_to "Please Login to continue the registration", sign_in_host_path %>
  <% end %>
</body>